<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Usuário</th>
        <th scope="col">E-mail</th>
        <th scope="col">Tarefas</th>
        <th scope="col">Descrição</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody *ngIf="tarefas !== undefined && tarefas.length > 0">
      <tr *ngFor="let item of tarefas; let i = index;">
        <th scope="row">{{item.id}}</th>
        <td>{{item.email}}</td>
        <td>{{item.tarefa}}</td>
        <td>{{item.descricao}}</td>
        <td>{{item.status}}</td>
        <td>
          <span *ngIf="item.status == 1">A fazer</span>
          <span *ngIf="item.status == 2">Em execução</span>
          <span *ngIf="item.status == 3">Feito</span>
        </td>
      </tr>
    </tbody>
  </table>
